{% extends "base.html" %}

{% block main %}
<h1>Contact Form</h1>
<hr/>
<h6>Fill in this form to contact the site owners.</h6>
<form method="POST">

    
  <b> {{ form.name.label }} <label class="req">(Required)</label></b><br/>
   <label>Plase enter your full name</label>  <br/>
    {{ form.name(size=32)}}<br/><br/>


  <b>  {{ form.email.label }} <label class="req">(Required)</label></b><br/>
    <label>Enter your e-mail address</label> <br/>
    {{ form.email (size=32)}}<br/><br/>


  <b>  {{ form.subject.label }}<label class="req">(Required)</label></b><br/>
    <label>Enter the subject for your message</label> <br/>
    {{ form.subject(size=32) }}<br/><br/>

  <b>  {{ form.textarea.label}}<label class="req">(Required)</label></b></br/>
   <label>Please enter the message you would like to send</label> <br/>
    {{ form.textarea(rows=4,cols=50)}}<br/>

    {{ form.csrf_token }}

<button type="submit" style="
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 6px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius:5px; ">send</button>
</form>


{% endblock %}